<div class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand">SPORTS STORE</a>
</div>
<div class="col-xs-3 p-a-1">
    <button class="btn btn-block btn-outline-primary" (click)="changeCategory()">
        Home
    </button>
    <button class="btn btn-block btn-outline-primary" *ngFor="let cat of categories" (click)="changeCategory(cat)" [class.active]="cat === selectedCategory">
        {{cat}}
    </button>
</div>
<div class="col-xs-9 p-a-1">
    <div class="card card-outline-primary" *ngFor="let product of products">
        <h4 class="card-header">
            {{product.name}}
            <span class="pull-xs-right tag tag-pill tag-primary">
                {{ product.price  | currency:"USD":true:"2.2-2" }}
            </span>
        </h4>
        <div class="card-text p-a-1">
            {{product.description}}
        </div>
    </div>
</div>
