<div class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand">SPORTS STORE</a>
    <cart-summary></cart-summary>
</div>
<div class="col-xs-3 p-a-1">
    <button class="btn btn-block btn-outline-primary" (click)="changeCategory()">
        Home
    </button>
    <button class="btn btn-block btn-outline-primary" *ngFor="let cat of categories" (click)="changeCategory(cat)" [class.active]="cat === selectedCategory">
        {{cat}}
    </button>
  <button class="btn btn-block btn-danger m-t-3" routerLink="/admin">Admin</button>
</div>
<div class="col-xs-9 p-a-1">
    <div class="card card-outline-primary" *ngFor="let product of products">
        <h4 class="card-header">
            {{product.name}}
            <span class="pull-xs-right tag tag-pill tag-primary">
                {{ product.price  | currency:"USD":true:"2.2-2" }}
            </span>
        </h4>
        <div class="card-text p-a-1">
            {{product.description}}
            <button class="btn btn-success btn-sm pull-xs-right" (click)="addProductToCart(product)">Add To Cart</button>
        </div>
    </div>

    <div class="form-inline pull-xs-left m-r-1">
        <select class="form-control" [value]="productsPerPage" (change)="changePageSize($event.target.value)">
            <option value="3">3 per page</option>
            <option value="5">5 per page</option>
            <option value="7">7 per page</option>
            <option value="9">9 per page</option>
        </select>
    </div>

    <div class="btn-group pull-xs-right">
        <button class="btn btn-outline-primary" *counter="let page of pageCount" (click)="changePage(page)" [class.active]="page === selectedPage">
            {{page}}
        </button>
    </div>
</div>
