<div class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand">SPORT STORE</a>
</div>

<div class="m-a-1 text-xs-center" *ngIf="orderSend">
  <h2>Thanks!</h2>
  <p>Thanks for placing your order.</p>
  <p>We'll ship your goods as soon as possible.</p>
  <button class="btn btn-primary" routerLink="/store">Return to Store</button>
</div>
<form class="m-a-1" *ngIf="!orderSend" #form="ngForm" novalidate (ngSubmit)="submitOrder(form)">
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" #name="ngModel" name="name" [(ngModel)]="order.name" required />
    <span class="text-danger" *ngIf="submitted && name.invalid">Please enter your name</span>
  </div>
  <div class="form-group">
    <label>Address</label>
    <input class="form-control" #address="ngModel" name="address" [(ngModel)]="order.address" required />
    <span class="text-danger" *ngIf="submitted && address.invalid">Please enter your address</span>
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" #city="ngModel" name="city" [(ngModel)]="order.city" required />
    <span class="text-danger" *ngIf="submitted && city.invalid">Please enter your city</span>
  </div>
  <div class="form-group">
    <label>Zip/Postal Code</label>
    <input class="form-control" #zip="ngModel" name="zip" [(ngModel)]="order.zip" required />
    <span class="text-danger" *ngIf="submitted && zip.invalid">Please enter your zip</span>
  </div>
  <div class="form-group">
    <label>Country</label>
    <input class="form-control" #country="ngModel" name="country" [(ngModel)]="order.country" required />
    <span class="text-danger" *ngIf="submitted && country.invalid">Please enter your country</span>
  </div>
  <div class="text-xs-center">
    <button class="btn btn-secondary" routerLink="/cart">Back</button>
    <button class="btn btn-primary" type="submit">Complete Order</button>
  </div>
</form>
